html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.scroll-fade {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-fade.show {
  opacity: 1;
  transform: translateY(0);
}
